.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._9{margin-left:-5.800376px;}
._4{margin-left:-3.320372px;}
._0{margin-left:-2.120273px;}
._8{margin-left:-1.040273px;}
._f{width:1.599570px;}
._11{width:3.428441px;}
._12{width:5.424762px;}
._1{width:6.477262px;}
._2{width:7.637262px;}
._d{width:9.019816px;}
._16{width:10.040209px;}
._3{width:12.599683px;}
._5{width:14.619734px;}
._6{width:15.859734px;}
._7{width:16.899734px;}
._17{width:17.920006px;}
._a{width:19.009683px;}
._b{width:21.688300px;}
._c{width:22.808285px;}
._15{width:24.491103px;}
._e{width:26.399762px;}
._10{width:27.414762px;}
._14{width:37.318837px;}
._13{width:39.300000px;}
.fc3{color:rgb(51,51,51);}
.fc2{color:rgb(0,153,153);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:36.000000px;}
.fs6{font-size:38.000000px;}
.fs3{font-size:40.000000px;}
.fs5{font-size:42.000000px;}
.fs4{font-size:48.000000px;}
.fs1{font-size:64.000000px;}
.fs0{font-size:80.000000px;}
.fs7{font-size:84.000000px;}
.y0{bottom:0.000000px;}
.y5{bottom:5.298626px;}
.y4{bottom:16.098625px;}
.y3{bottom:26.898625px;}
.y3d{bottom:44.801249px;}
.yb1{bottom:59.801193px;}
.y3c{bottom:60.301247px;}
.y59{bottom:62.426247px;}
.yb0{bottom:71.801186px;}
.y3b{bottom:72.301247px;}
.y58{bottom:74.426247px;}
.yaf{bottom:83.801186px;}
.y3a{bottom:84.301247px;}
.y57{bottom:86.426247px;}
.yae{bottom:95.801186px;}
.y39{bottom:96.301247px;}
.y56{bottom:98.426247px;}
.yad{bottom:107.801186px;}
.y38{bottom:108.301249px;}
.y55{bottom:110.426249px;}
.yac{bottom:119.801186px;}
.y37{bottom:120.301249px;}
.y54{bottom:122.426249px;}
.yab{bottom:131.801186px;}
.y36{bottom:133.901215px;}
.y53{bottom:143.276253px;}
.yaa{bottom:143.801186px;}
.y35{bottom:145.901215px;}
.y52{bottom:155.276253px;}
.ya9{bottom:155.801186px;}
.y34{bottom:157.901215px;}
.y51{bottom:167.276249px;}
.ya8{bottom:167.801188px;}
.y33{bottom:169.901215px;}
.y50{bottom:179.276249px;}
.ya7{bottom:179.801188px;}
.y32{bottom:181.901215px;}
.y4f{bottom:191.731493px;}
.y31{bottom:193.901215px;}
.y30{bottom:205.901215px;}
.y93{bottom:209.932364px;}
.y92{bottom:210.110662px;}
.y2f{bottom:217.901215px;}
.y4e{bottom:218.901230px;}
.y91{bottom:227.182364px;}
.y90{bottom:227.360662px;}
.y2e{bottom:229.901230px;}
.y4d{bottom:230.901230px;}
.y2d{bottom:241.901230px;}
.y4c{bottom:242.901230px;}
.y8f{bottom:244.432364px;}
.y8e{bottom:244.610662px;}
.y2c{bottom:253.901230px;}
.y4b{bottom:254.901230px;}
.y8d{bottom:261.682364px;}
.y8c{bottom:261.860632px;}
.y2b{bottom:265.901230px;}
.y4a{bottom:266.901230px;}
.y2a{bottom:277.901230px;}
.y49{bottom:278.901230px;}
.y8b{bottom:278.932364px;}
.y8a{bottom:279.110632px;}
.y29{bottom:289.901230px;}
.y48{bottom:290.901230px;}
.y89{bottom:296.182364px;}
.y88{bottom:296.360632px;}
.y28{bottom:301.901230px;}
.y47{bottom:302.901222px;}
.y87{bottom:313.432364px;}
.y86{bottom:313.610632px;}
.y27{bottom:313.901230px;}
.y46{bottom:314.901222px;}
.y26{bottom:325.901230px;}
.y45{bottom:326.901222px;}
.y85{bottom:330.682364px;}
.y84{bottom:330.860632px;}
.ya6{bottom:331.426216px;}
.y25{bottom:337.901230px;}
.y44{bottom:338.901222px;}
.ya5{bottom:343.426216px;}
.y83{bottom:347.932364px;}
.y82{bottom:348.110632px;}
.y24{bottom:349.901230px;}
.y43{bottom:350.901222px;}
.ya4{bottom:355.426216px;}
.y23{bottom:361.901222px;}
.y42{bottom:362.901222px;}
.y81{bottom:365.182364px;}
.y80{bottom:365.360632px;}
.ya3{bottom:367.426216px;}
.y22{bottom:373.901222px;}
.y41{bottom:374.901222px;}
.ya2{bottom:379.426218px;}
.y7f{bottom:382.432364px;}
.y7e{bottom:382.610632px;}
.y21{bottom:385.901222px;}
.y40{bottom:386.901218px;}
.ya1{bottom:391.426218px;}
.y20{bottom:397.901222px;}
.y3f{bottom:398.901218px;}
.y7d{bottom:399.682364px;}
.y7c{bottom:399.860632px;}
.y1f{bottom:409.901222px;}
.y3e{bottom:411.356462px;}
.y7b{bottom:416.932364px;}
.y7a{bottom:417.110632px;}
.y1e{bottom:421.901222px;}
.y1d{bottom:433.901222px;}
.y79{bottom:434.182364px;}
.y78{bottom:434.360632px;}
.y1c{bottom:445.901218px;}
.y19{bottom:449.551208px;}
.y77{bottom:451.432364px;}
.y76{bottom:451.610632px;}
.y1b{bottom:457.901218px;}
.y18{bottom:461.551208px;}
.y75{bottom:468.682333px;}
.y74{bottom:468.860601px;}
.y1a{bottom:470.356462px;}
.y17{bottom:473.551208px;}
.y16{bottom:485.551208px;}
.y72{bottom:485.916405px;}
.y73{bottom:491.138136px;}
.y71{bottom:496.716405px;}
.y15{bottom:497.551208px;}
.y14{bottom:509.551208px;}
.y70{bottom:513.593924px;}
.y6f{bottom:513.772192px;}
.y13{bottom:521.551208px;}
.y6e{bottom:530.856409px;}
.ya0{bottom:531.801155px;}
.y12{bottom:533.551208px;}
.y6d{bottom:541.656408px;}
.y6b{bottom:541.834675px;}
.y9f{bottom:543.801155px;}
.y11{bottom:545.551208px;}
.y6c{bottom:552.456409px;}
.y9e{bottom:555.801155px;}
.y10{bottom:557.551208px;}
.y9d{bottom:567.801157px;}
.yf{bottom:569.551201px;}
.y6a{bottom:569.718908px;}
.y69{bottom:569.897177px;}
.y9c{bottom:579.801157px;}
.ye{bottom:581.551201px;}
.y67{bottom:586.952980px;}
.y68{bottom:592.174711px;}
.yd{bottom:593.551201px;}
.y66{bottom:597.752980px;}
.yc{bottom:605.551201px;}
.y9b{bottom:610.676224px;}
.y65{bottom:614.630499px;}
.y64{bottom:614.808767px;}
.yb{bottom:617.551201px;}
.ya{bottom:629.551201px;}
.y63{bottom:631.864555px;}
.y61{bottom:637.442825px;}
.y9{bottom:641.551201px;}
.y62{bottom:642.664556px;}
.y9a{bottom:646.676224px;}
.y8{bottom:653.551201px;}
.y99{bottom:658.676224px;}
.y60{bottom:659.886101px;}
.y7{bottom:665.551203px;}
.y98{bottom:670.676224px;}
.y5f{bottom:670.686106px;}
.y5c{bottom:676.264370px;}
.y6{bottom:677.551203px;}
.y5e{bottom:681.486105px;}
.y97{bottom:682.676224px;}
.y5d{bottom:692.286105px;}
.y96{bottom:694.676226px;}
.y95{bottom:706.676226px;}
.y5b{bottom:709.523603px;}
.y5a{bottom:709.701872px;}
.y2{bottom:715.216955px;}
.y94{bottom:732.742571px;}
.y1{bottom:735.327448px;}
.h3{height:26.226562px;}
.h7{height:27.683594px;}
.h9{height:29.121094px;}
.h4{height:29.140625px;}
.h6{height:30.597656px;}
.h5{height:34.968750px;}
.h2{height:46.625000px;}
.h1{height:58.281250px;}
.h8{height:61.195312px;}
.h0{height:780.000000px;}
.w0{width:540.000000px;}
.x0{left:0.000000px;}
.x6{left:26.449997px;}
.x1{left:28.199997px;}
.xc{left:30.875000px;}
.xa{left:33.565746px;}
.xe{left:38.075012px;}
.xf{left:51.575012px;}
.x3{left:67.249969px;}
.x4{left:112.374969px;}
.xb{left:161.065750px;}
.x2{left:208.749969px;}
.x7{left:288.575012px;}
.x9{left:297.450012px;}
.x5{left:298.462769px;}
.x8{left:302.075012px;}
.xd{left:310.200012px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._9{margin-left:-7.733835pt;}
._4{margin-left:-4.427162pt;}
._0{margin-left:-2.827031pt;}
._8{margin-left:-1.387031pt;}
._f{width:2.132760pt;}
._11{width:4.571254pt;}
._12{width:7.233016pt;}
._1{width:8.636349pt;}
._2{width:10.183016pt;}
._d{width:12.026421pt;}
._16{width:13.386945pt;}
._3{width:16.799577pt;}
._5{width:19.492979pt;}
._6{width:21.146313pt;}
._7{width:22.532979pt;}
._17{width:23.893342pt;}
._a{width:25.346243pt;}
._b{width:28.917734pt;}
._c{width:30.411047pt;}
._15{width:32.654804pt;}
._e{width:35.199683pt;}
._10{width:36.553016pt;}
._14{width:49.758449pt;}
._13{width:52.400000pt;}
.fs2{font-size:48.000000pt;}
.fs6{font-size:50.666667pt;}
.fs3{font-size:53.333333pt;}
.fs5{font-size:56.000000pt;}
.fs4{font-size:64.000000pt;}
.fs1{font-size:85.333333pt;}
.fs0{font-size:106.666667pt;}
.fs7{font-size:112.000000pt;}
.y0{bottom:0.000000pt;}
.y5{bottom:7.064835pt;}
.y4{bottom:21.464834pt;}
.y3{bottom:35.864834pt;}
.y3d{bottom:59.734998pt;}
.yb1{bottom:79.734924pt;}
.y3c{bottom:80.401662pt;}
.y59{bottom:83.234996pt;}
.yb0{bottom:95.734914pt;}
.y3b{bottom:96.401662pt;}
.y58{bottom:99.234996pt;}
.yaf{bottom:111.734914pt;}
.y3a{bottom:112.401662pt;}
.y57{bottom:115.234996pt;}
.yae{bottom:127.734914pt;}
.y39{bottom:128.401662pt;}
.y56{bottom:131.234996pt;}
.yad{bottom:143.734914pt;}
.y38{bottom:144.401665pt;}
.y55{bottom:147.234998pt;}
.yac{bottom:159.734914pt;}
.y37{bottom:160.401665pt;}
.y54{bottom:163.234998pt;}
.yab{bottom:175.734914pt;}
.y36{bottom:178.534953pt;}
.y53{bottom:191.035004pt;}
.yaa{bottom:191.734914pt;}
.y35{bottom:194.534953pt;}
.y52{bottom:207.035004pt;}
.ya9{bottom:207.734914pt;}
.y34{bottom:210.534953pt;}
.y51{bottom:223.034999pt;}
.ya8{bottom:223.734917pt;}
.y33{bottom:226.534953pt;}
.y50{bottom:239.034999pt;}
.ya7{bottom:239.734917pt;}
.y32{bottom:242.534953pt;}
.y4f{bottom:255.641991pt;}
.y31{bottom:258.534953pt;}
.y30{bottom:274.534953pt;}
.y93{bottom:279.909818pt;}
.y92{bottom:280.147550pt;}
.y2f{bottom:290.534953pt;}
.y4e{bottom:291.868306pt;}
.y91{bottom:302.909818pt;}
.y90{bottom:303.147550pt;}
.y2e{bottom:306.534973pt;}
.y4d{bottom:307.868306pt;}
.y2d{bottom:322.534973pt;}
.y4c{bottom:323.868306pt;}
.y8f{bottom:325.909818pt;}
.y8e{bottom:326.147550pt;}
.y2c{bottom:338.534973pt;}
.y4b{bottom:339.868306pt;}
.y8d{bottom:348.909818pt;}
.y8c{bottom:349.147509pt;}
.y2b{bottom:354.534973pt;}
.y4a{bottom:355.868306pt;}
.y2a{bottom:370.534973pt;}
.y49{bottom:371.868306pt;}
.y8b{bottom:371.909818pt;}
.y8a{bottom:372.147509pt;}
.y29{bottom:386.534973pt;}
.y48{bottom:387.868306pt;}
.y89{bottom:394.909818pt;}
.y88{bottom:395.147509pt;}
.y28{bottom:402.534973pt;}
.y47{bottom:403.868296pt;}
.y87{bottom:417.909818pt;}
.y86{bottom:418.147509pt;}
.y27{bottom:418.534973pt;}
.y46{bottom:419.868296pt;}
.y26{bottom:434.534973pt;}
.y45{bottom:435.868296pt;}
.y85{bottom:440.909818pt;}
.y84{bottom:441.147509pt;}
.ya6{bottom:441.901622pt;}
.y25{bottom:450.534973pt;}
.y44{bottom:451.868296pt;}
.ya5{bottom:457.901622pt;}
.y83{bottom:463.909818pt;}
.y82{bottom:464.147509pt;}
.y24{bottom:466.534973pt;}
.y43{bottom:467.868296pt;}
.ya4{bottom:473.901622pt;}
.y23{bottom:482.534963pt;}
.y42{bottom:483.868296pt;}
.y81{bottom:486.909818pt;}
.y80{bottom:487.147509pt;}
.ya3{bottom:489.901622pt;}
.y22{bottom:498.534963pt;}
.y41{bottom:499.868296pt;}
.ya2{bottom:505.901624pt;}
.y7f{bottom:509.909818pt;}
.y7e{bottom:510.147509pt;}
.y21{bottom:514.534963pt;}
.y40{bottom:515.868291pt;}
.ya1{bottom:521.901624pt;}
.y20{bottom:530.534963pt;}
.y3f{bottom:531.868291pt;}
.y7d{bottom:532.909818pt;}
.y7c{bottom:533.147509pt;}
.y1f{bottom:546.534963pt;}
.y3e{bottom:548.475283pt;}
.y7b{bottom:555.909818pt;}
.y7a{bottom:556.147509pt;}
.y1e{bottom:562.534963pt;}
.y1d{bottom:578.534963pt;}
.y79{bottom:578.909818pt;}
.y78{bottom:579.147509pt;}
.y1c{bottom:594.534958pt;}
.y19{bottom:599.401611pt;}
.y77{bottom:601.909818pt;}
.y76{bottom:602.147509pt;}
.y1b{bottom:610.534958pt;}
.y18{bottom:615.401611pt;}
.y75{bottom:624.909777pt;}
.y74{bottom:625.147469pt;}
.y1a{bottom:627.141950pt;}
.y17{bottom:631.401611pt;}
.y16{bottom:647.401611pt;}
.y72{bottom:647.888540pt;}
.y73{bottom:654.850848pt;}
.y71{bottom:662.288540pt;}
.y15{bottom:663.401611pt;}
.y14{bottom:679.401611pt;}
.y70{bottom:684.791898pt;}
.y6f{bottom:685.029589pt;}
.y13{bottom:695.401611pt;}
.y6e{bottom:707.808545pt;}
.ya0{bottom:709.068207pt;}
.y12{bottom:711.401611pt;}
.y6d{bottom:722.208544pt;}
.y6b{bottom:722.446233pt;}
.y9f{bottom:725.068207pt;}
.y11{bottom:727.401611pt;}
.y6c{bottom:736.608545pt;}
.y9e{bottom:741.068207pt;}
.y10{bottom:743.401611pt;}
.y9d{bottom:757.068209pt;}
.yf{bottom:759.401601pt;}
.y6a{bottom:759.625211pt;}
.y69{bottom:759.862902pt;}
.y9c{bottom:773.068209pt;}
.ye{bottom:775.401601pt;}
.y67{bottom:782.603973pt;}
.y68{bottom:789.566282pt;}
.yd{bottom:791.401601pt;}
.y66{bottom:797.003974pt;}
.yc{bottom:807.401601pt;}
.y9b{bottom:814.234965pt;}
.y65{bottom:819.507332pt;}
.y64{bottom:819.745023pt;}
.yb{bottom:823.401601pt;}
.ya{bottom:839.401601pt;}
.y63{bottom:842.486074pt;}
.y61{bottom:849.923767pt;}
.y9{bottom:855.401601pt;}
.y62{bottom:856.886074pt;}
.y9a{bottom:862.234965pt;}
.y8{bottom:871.401601pt;}
.y99{bottom:878.234965pt;}
.y60{bottom:879.848134pt;}
.y7{bottom:887.401604pt;}
.y98{bottom:894.234965pt;}
.y5f{bottom:894.248141pt;}
.y5c{bottom:901.685827pt;}
.y6{bottom:903.401604pt;}
.y5e{bottom:908.648140pt;}
.y97{bottom:910.234965pt;}
.y5d{bottom:923.048140pt;}
.y96{bottom:926.234968pt;}
.y95{bottom:942.234968pt;}
.y5b{bottom:946.031471pt;}
.y5a{bottom:946.269162pt;}
.y2{bottom:953.622607pt;}
.y94{bottom:976.990095pt;}
.y1{bottom:980.436597pt;}
.h3{height:34.968750pt;}
.h7{height:36.911458pt;}
.h9{height:38.828125pt;}
.h4{height:38.854167pt;}
.h6{height:40.796875pt;}
.h5{height:46.625000pt;}
.h2{height:62.166667pt;}
.h1{height:77.708333pt;}
.h8{height:81.593750pt;}
.h0{height:1040.000000pt;}
.w0{width:720.000000pt;}
.x0{left:0.000000pt;}
.x6{left:35.266663pt;}
.x1{left:37.599996pt;}
.xc{left:41.166667pt;}
.xa{left:44.754328pt;}
.xe{left:50.766683pt;}
.xf{left:68.766683pt;}
.x3{left:89.666626pt;}
.x4{left:149.833293pt;}
.xb{left:214.754333pt;}
.x2{left:278.333293pt;}
.x7{left:384.766683pt;}
.x9{left:396.600016pt;}
.x5{left:397.950358pt;}
.x8{left:402.766683pt;}
.xd{left:413.600016pt;}
}
